<p id="notice"><%= notice %></p>
<%= link_to '<span class="ion-plus"></span>'.html_safe + " New Song" , new_song_path , class: "btn btn-primary btn-lg newmargin" %>
<div class="list-group">
  <% @songs.each do |song| %>
    <%= link_to song, class: "list-group-item" do %>
          <h4 class="list-group-item-heading"><%= song.title %></h4>
          <p class="list-group-item-text"><%= song.artist %></p>
    <% end %>
  <% end %>
</div>
<br>
