<%= form_for(@playlist) do |f| %>
  <% if @playlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @playlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <ul class="list-group">
    <%= f.collection_check_boxes :song_ids, Song.where(:user => current_user).order(artist: :asc), :id, :full_display do |b| %>
      <li class="list-group-item">
      <%= b.label do%>
      <%=b.check_box + b.text%>
      </li>
     <%end%>
    <% end %>
  </ul>
  </div>

  <div class="actions">
    <%= f.submit buttontext.to_s, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
