<%= form_for(@gig) do |f| %>
  <% if @gig.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
      <% @gig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, {order: [:day, :month, :year, :hour, :minute]}, {:class => 'custom-dateselect'}  %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :playlist_id %><br>
    <%= f.collection_select :playlist_id, Playlist.where(:user => current_user), :id, :name, {}, {class: "form-control"}%>
  </div>

  <div class="actions">
    <%= f.submit buttontext.to_s, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
