<%= link_to '<span class="ion-plus"></span>'.html_safe + " New Gig" , new_gig_path , class: "btn btn-primary btn-lg newmargin" %>
<div class="list-group">
  <% @gigs.each do |gig| %>
    <%= link_to gig, class: "list-group-item" do %>
          <h4 class="list-group-item-heading"><%= gig.date.strftime("%d.%m.%Y") %></h4>
          <p class="list-group-item-text"><%= gig.location %> - <%= gig.comment %></p>
    <% end %>
  <% end %>
</div>
<br>
